.portfolioContent {
  justify-content: center;
}
.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  width: 400px;
  height: 200px;
  color: black;
}

.center {
  justify-content: center;
}
